.card {  
    display: flex;
    justify-content: space-between;
    width: 34.375rem;
    height: 5.625rem;
    padding: 0 0 0 1.625rem;
    opacity: 0.8;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #fff;
  }
  
  .card:hover {
    opacity: 0.6;
  }
  
  @media (max-width: 900px) {
    .card {
      width: 23rem;
    }
  }
  