.fav-button {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 2.188rem 1.375rem 2.063rem;
    border-radius: 0 6px 6px 0;
    border: solid 1px #f8f8f8;
    background-color: #f8f8f8;
    cursor: pointer;
  }

  .heart {
    width: auto;
    height: auto;
    margin: 0;
  }